.form{
    padding: 5px;
    width: 30%;
    margin: 50px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.title{
    font-size: 25px;
    text-align: center;
    padding: 30px 0;
    color: cornflowerblue;
}
.inputsHolder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.formSubtitle{
    font-size: 20px;
    color: #444444;
    text-align: center;
}
.inputHolder{
    margin: 20px 0 10px 0;
    padding-top: 5px;
    position: relative;
}
.input{
    width: 180px;
    height: 15px;
    padding: 10px;
    font-size: 18px;
    color: #444444;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 20px;
    outline: none;
    cursor: pointer;
}
.inputSelect{
    width: 180px;
    font-size: 20px;
    padding: 6px 0;
    color: #444444;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 20px;
    outline: none;
}
.option{
    font-size: 20px;
    color: #444444;
    outline: none;
}
.formButton{
    display: block;
    margin: 30px auto;
    width: 100px;
    height: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: cornflowerblue;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
.formButton:disabled{
    background-color: #444444;
}
.formButton:active{
    background-color: gold;
}
.errors{
    display: block;
    width: 300px;
    text-align: center;
    font-size: 15px;
    color: tomato;
    position: absolute;
    bottom: -20px;
    left: -40px;
}
.errorResponse{
    color: tomato;
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.intervalHint{
    display: block;
    width: 200px;
    margin: 10px auto;
    color: #444444;
}
.errorCase{
    text-align: center;
    font-size: 18px;
    color: tomato;
}
.typesHolder{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.typeButton{
    display: block;
    width: 100px;
    height: 30px;
    font-size: 18px;
    background-color: cornflowerblue;
    color: #ffffff;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.typeButton:active{
    background: gold;
    outline: none;
}
.formOpenButton{
    font-size: 20px;
    display: block;
    margin: 50px auto;
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: cornflowerblue;
    color: #ffffff;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}