.yearHolder{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.year{
    display: block;
    text-align: center;
    width: 150px;
    font-size: 18px;
    color: cornflowerblue;
}
.nasaLibrary{
    padding: 50px 0 100px 0;
}
.itemsArray{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imageHolder{
    width: 450px;
    padding: 10px;
    margin: 10px;
    position: relative;
}
.image{
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.videoIcon{
    font-size: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    color: #ffffff;
    opacity: 0.8;
    cursor: pointer;
}
.errorCase{
    display: block;
    margin: auto;
    width: 250px;
    padding: 30px 0;
    text-align: center;
    color: tomato;
    font-size: 20px;
    background-color: rgba(0,0,0,.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.mediaType{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mediaTypeButton{
    display: block;
    width: 120px;
    height: 40px;
    background-color: cornflowerblue;
    color: #ffffff;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin:0 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mediaIcon{
    line-height: 40px;
}
.mediaBtnAct{
    color: gold;
}