.modalImage{
    width: 50vw;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: auto;
}
.video{
    width: 50vw;
    cursor: auto;
}

@media screen and (max-width: 1000px){
    .modalImage{
        width: 60vw;
    }
    .video{
        width: 60vw;
    }
}

@media screen and (max-width: 700px){
    .modalImage{
        width: 70vw;
    }
    .video{
        width: 70vw;
    }
}
@media screen and (max-width: 500px){
    .modalImage{
        width: 100%;
    }
    .video{
        width: 100%;
    }
}