.neows{
    padding: 50px 0;
}
.asteroidsArray{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 0;
}
.asteroid{
    width: 300px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.date{
    color: cornflowerblue;
    font-size: 30px;
    text-align: center;
    padding: 50px 0;
}
.name{
    color: cornflowerblue;
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
}
.diam{
    padding-bottom: 30px;
    width: 60%;
    margin: auto;
}
.diameter{
    font-size: 18px;
    color: #444444;
}
.diameterEpx{
    color: #444444;
    padding: 10px 0;
}
.danger{
    font-size: 18px;
    color: #444444;
    text-align: center;
}
.hazardExp{
    color: tomato;
}