.footer{
    background-color: #444444;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.footerAuthor{
    color: gold;
    text-decoration: none;
    outline: none;
    line-height: 40px;
    margin-left: 40%;
}
.apiLink{
    display: flex;
    justify-content: center;
    outline: none;
}
.footerLink{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    line-height: 40px;
}
.logo{
    display: block;
    width: 40px;
    margin-left: 10px;
}