.apod{
    padding: 50px 0;
}
.apodItem{
    width: 80%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 50px 0;
    margin: 50px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.title{
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
    color: cornflowerblue;
}
.image{
    width: 600px;
}
.apodTitle{
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
    color: cornflowerblue;
}
.apodImageHolder{
    max-width: 90%;
    margin: 20px auto;
}
.apodImage{
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.apodDate{
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
    color: #444444;
}
.apodExpTitle{
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    color: #444444;
}
.apodExplanation{
    display: block;
    max-width: 90%;
    margin: auto;
    font-size: 20px;
    color: #444444;
}
.apodForm{
    position: relative;
}
.apodButton{
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: cornflowerblue;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    bottom: 50px;
    left: calc(50% - 280px);
    outline: none;
}
