.earthImage{
    padding: 50px 0 100px 0;
}
.title{
    display: block;
    width: 90%;
    margin: 20px auto;
    text-align: center;
    font-size: 50px;
    color: cornflowerblue;
}
.imageHolder{
    width: 90%;
    margin: 20px auto;
}
.image{
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.imageDate{
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    padding: 30px 0;
}
.params{
    font-size: 20px;
    color: #444444;
    text-align: center;
    padding: 10px 0;
}
.imagesArray{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imagesItem{
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}